body {
    background-color: beige;
}

.navbar {
    background-color: rgb(33, 43, 100);
}

.row {
    width: 90%;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

p {
    font-size: 18px;
    margin: 5px;
}

.section {
    border-bottom: 1px solid black;
}

#search-section, #main {
    background-color: white;
    margin: 5px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

#search-button {
    background-color: rgb(33, 43, 100);
}

.btn-primary {
    background-color: rgb(33, 43, 100);
    width: 100%;
    margin-top: 3px;
}

.btn-secondary {
    width: 100%;
    margin-top: 10px;
}

